<%= form_for(@room_rule) do |f| %>
  <div class="field">
    <%= f.label :veg_only %><br>
    <div style = "float:left"> <%= f.check_box :veg_only %></div><br>
  </div>
  <div class="field">
    <%= f.label :smoking_allowed %><br>
    <div style = "float:left"> <%= f.check_box :smoking_allowed %></div><br>
  </div>
  <div class="field">
    <%= f.label :alcohol_allowed %><br>
    <div style = "float:left"> <%= f.check_box :alcohol_allowed %></div><br>
  </div>
 
<% end %>
