<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email_id %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender == 1 ? "Male" : "Female" %>
</p>

<p>
  <%= link_to "Rooms hosted by user", "/rooms?user_id=#{@user.id}" %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
