
<div align="right" style="display: inline-block; float: right;">
  <div class="form-group" style="float: right;">
    <%= label_tag(:name,"location", :class => "col-md-4 control-label") %>
    <div class="col-md-8"><%= text_field_tag(:name) %> </div>
  </div> 

    <div class="form-group" style="float: right;">
    <%= label_tag(:name,"No of persons ", :class => "col-md-4 control-label") %>
    <div class="col-md-8"><%= text_field_tag(:name) %> </div>
  </div> 
</div>

<center>
<div class="w3-content" style="max-width:800px;position:relative" align="center">
  <%= image_tag("room1.png", :alt => "App", :class => "mySlides", :style => "width:100%; height: 400px; align: center") %>
  <%= image_tag("room2.jpg", :alt => "App", :class => "mySlides", :style => "width:100%; height: 400px; align: center") %>
  <%= image_tag("room3.jpg", :alt => "App", :class => "mySlides", :style => "width:100%; height: 400px; align: center") %>
  <%= image_tag("room4.jpg", :alt => "App", :class => "mySlides", :style => "width:100%; height: 400px; align: center") %>
  <%= image_tag("room5.jpg", :alt => "App", :class => "mySlides", :style => "width:100%; height: 400px; align: center") %>
  <%= image_tag("room6.jpg", :alt => "App", :class => "mySlides", :style => "width:100%; height: 400px; align: center") %>
  <%= image_tag("room7.jpg", :alt => "App", :class => "mySlides", :style => "width:100%; height: 400px; align: center") %>
</div>
</center>
<script>

var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
