<%= form_for(@room_facility) do |f| %>
  <div class="field">
    <%= f.label :tv %><br>
     <div style = "float:left"> <%= f.check_box :tv %></div><br>
  </div>
  <div class="field">
    <%= f.label :wasing_machine %><br>
     <div style = "float:left"> <%= f.check_box :wasing_machine %></div><br>
  </div>
  <div class="field">
    <%= f.label :ac %><br>
     <div style = "float:left"> <%= f.check_box :ac %></div><br>
  </div>
  <div class="field">
    <%= f.label :basic_appliance %><br>
     <div style = "float:left"> <%= f.check_box :basic_appliance %></div><br>
  </div>
  <div class="field">
    <%= f.label :two_wheeler_parking %><br>
     <div style = "float:left"> <%= f.check_box :two_wheeler_parking %></div><br>
  </div>
  <div class="field">
    <%= f.label :four_wheeler_parking %><br>
     <div style = "float:left"> <%= f.check_box :four_wheeler_parking %></div><br>
  </div>
<% end %>
