<%= form_tag(action: "create", method: "post") do %>
  
  <div class="field">
    <%= label_tag(:name,"NAME") %><br>  
    <%= text_field_tag(:name) %>
  </div>
  <div class="field">
    <%= label_tag(:area,"AREA") %><br>  
    <%= text_field_tag(:area) %>
  </div>
  <div class="field">
    <div id="map-canvas" style="width:800px;height:400px"/>
  </div>
  <p style="display:none" id="maphint">Drag marker to the location of your room</p>
  <div class="field">
    <%= label_tag(:room_type,"ROOMTYPE") %><br>  
    <%= text_field_tag(:room_type) %>
  </div>
  <div class="field">
    <%= label_tag(:total_limit,"TOTAL LIMIT") %><br>  
    <%= text_field_tag(:total_limit) %>
  </div>
  <div class="field">
    <%= label_tag(:current_vacancy,"CURRENT VACANCY") %><br>  
    <%= number_field_tag(:current_vacancy) %>
  </div>

  <div class="field"> 
    <%= hidden_field_tag(:city, "Chennai") %>
  </div>
  <div class="field"> 
    <%= hidden_field_tag(:user_id, current_user.id) %>
  </div>
  <div class="field">
    <%= label_tag(:gender_preference,"GENDER PREFERENCE") %><br>  
    <%= text_field_tag(:gender_preference) %>
  </div>
  <div class = "field">
    <%= label_tag(:visibility,"VISIBILITY") %><br>  
    <div style = "float:left"> <%= check_box_tag(:visibility) %></div><br>
  </div>
  <div class="field">
    <%= label_tag(:total_rent,"TOTAL RENT") %><br>  
    <%= text_field_tag(:total_rent) %>
  </div>
  <div class="field">
    <%= label_tag(:expected_rent,"Expected RENT") %><br>  
    <%= text_field_tag(:expected_rent) %>
  </div>
  <div class="field"> 
    <%= hidden_field_tag(:latitude) %>
  </div>
  <div class="field">
    <%= hidden_field_tag(:longitude) %>
  </div>

<h2>Room Facilities</h2><br>

  <div class="field">
    <%= label_tag(:tv,"TV") %><br>  
    <div style = "float:left"> <%= check_box_tag(:tv) %></div><br>
  </div>
  <div class="field">
    <%= label_tag(:wasing_machine,"WASHING MACHINE") %><br>  
    <div style = "float:left"> <%= check_box_tag(:wasing_machine) %></div><br>
  </div>
  <div class="field">
    <%= label_tag(:ac,"AC") %><br>  
    <div style = "float:left"> <%= check_box_tag(:ac) %></div><br>
  </div>
  <div class="field">
    <%= label_tag(:basic_appliance,"BASIC APPLIANCES") %><br>  
    <div style = "float:left"> <%= check_box_tag(:basic_appliance) %></div><br>
  </div>
  <div class="field">
    <%= label_tag(:two_wheeler_parking,"TWO WHEELER PARKING") %><br>  
    <div style = "float:left"> <%= check_box_tag(:two_wheeler_parking) %></div><br>
  </div>
  <div class="field">
    <%= label_tag(:four_wheeler_parking,"FOUR WHEELER PARKING") %><br>  
    <div style = "float:left"> <%= check_box_tag(:four_wheeler_parking) %></div><br>
  </div>

<h2>Room Rules</h2><br>

  <div class="field">
    <%= label_tag(:veg_only,"VEG ONLY") %><br>  
    <div style = "float:left"> <%= check_box_tag(:veg_only) %></div><br>
  </div>
  <div class="field">
    <%= label_tag(:smoking_allowed,"SMOKING ALLOWED") %><br>  
    <div style = "float:left"> <%= check_box_tag(:smoking_allowed) %></div><br>
  </div>
  <div class="field">
    <%= label_tag(:alcohol_allowed,"ALCOHOL ALLOWED") %><br>  
    <div style = "float:left"> <%= check_box_tag(:alcohol_allowed) %></div><br>
  </div>

  <%= submit_tag("Save") %>
  <% end %>

  <script type="text/javascript">
    $(document).ready(function(){
      set_map(0, '<%= "Tamil Nadu" %>,<%= "Chennai" %>', false);
    });
    $('#area').blur(function() {
      $('#maphint').show();
      set_map(1, '<%= "Tamil Nadu" %>,<%= "Chennai" %>,'+$('#area').val(), true);
    });
    var areas = [];
    <% Location.all.each do |location| %>
      areas.push("<%= location.area %>");
    <% end %>
    $("#area").autocomplete({
      source: areas
    });
</script>
