<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :room_type %><br>
    <%= f.number_field :room_type %>
  </div>
  <div class="field">
    <%= f.label :total_limit %><br>
    <%= f.text_field :total_limit %>
  </div>
  <div class="field">
    <%= f.label :current_vacancy %><br>
    <%= f.number_field :current_vacancy %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :gender_preference %><br>
    <%= f.text_field :gender_preference %>
  </div>
  <div class="field">
    <%= f.label :visibility %><br>
    <%= f.check_box :visibility %>
  </div>
  <div class="field">
    <%= f.label :total_rent %><br>
    <%= f.text_field :total_rent %>
  </div>
  <div class="field">
    <%= f.label :expected_rent %><br>
    <%= f.text_field :expected_rent %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
