<p id="notice"><%= notice %></p>

<h1>Listing Rooms</h1>


<style>
table {
 border:0;
}

table td, table th {
    border: none;
    border-collapse: collapse;
}

</style>
<table width="80%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Area</th>
      <th>Gender preference</th>
      <th>Total rent</th>
      <th>Expected rent</th>
      <th>Host</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= link_to room.name, room %></td>
        <td><%= room.area %></td>
        <td><%= room.gender_preference %></td>
        <td><%= room.total_rent %></td>
        <td><%= room.expected_rent %></td>
        <td><%= link_to User.find(room.user_id).name, User.find(room.user_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
