<%= form_for(@room_request) do |f| %>
  <% if @room_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_request.errors.count, "error") %> prohibited this room_request from being saved:</h2>

      <ul>
      <% @room_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :no_of_peoples %><br>
    <%= f.number_field :no_of_peoples %>
  </div>
  <div class="field">
    <%= f.label :moved %><br>
    <%= f.check_box :moved %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.text_field :room_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
