<p id="notice"><%= notice %></p>

<h3>Listing Room Requests</h3>
<% counter =0 %>
<% @requests.each do |request| %>
<br>
  <%= "#{counter += 1}." %><%= "Request by "%>
  <%= link_to User.find(request.user_id).name, User.find(request.user_id) %>
  <%= " for #{request.no_of_peoples} people" %> | 
  <% if(request.status == 1) %>
  <%= link_to "Approve", "room_requests/#{request.id}/edit?option=1" %> | 
  <%= link_to "Reject", "room_requests/#{request.id}/edit?option=2" %>
  <% end %>
  <% if(request.status == 2) %>
    <%= "This request has been approved" %>
  <% end %>
  <% if(request.status == 3) %>
    <%= "This room has been approved for another user" %>
  <% end %>
  <% if(request.status == 4) %>
    <%= "This request has been rejected" %>
  <% end %>
  <% if(request.status == 5) %>
    <%= "Some other host has approved this request for their room" %>
  <% end %>
<% end %>

<br>

