<h1>Room</h1>
<script type="text/javascript">
    $(document).ready(function(){
      set_map(1, '<%= "Tamil Nadu" %>,<%= "Chennai" %>,<%= "Perungudi" %>', true);
      //set_map(2, '12.970095,80.244485', false);
    })
  </script>
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "auth/facebook", id: "sign_in" %>
  <% end %>
  <br>
  <div id="map-canvas" style="width:1200px;height:500px"/>
  <br>

