
<%= params.inspect if Rails.env.development? %>



<div align="right">
  <ul id="menu" align="left">
  <li> <a class="navbar-brand" href="/"><%= link_to logo("facebook-logo.png",20,20), "#" %></a></li>
  <li> <a class="navbar-brand" href="/"><%= link_to logo("social.png",20,20), "#" %></a></li>
  <li> <a class="navbar-brand" href="/"><%= link_to logo("google-plus-social-logotype.png",20,20), "#" %></a></li>
  <li> <a class="navbar-brand" href="/"><%= link_to logo("linkedin-logo-button.png",20,20), "#" %></a></li>
</ul> 
</div>


<div class="container text-center">
    <hr />
 <!--  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">About us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Product for Mac</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Web analytics</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Product Help</a></li>
        </ul>
      </div>  
    </div>
  </div> -->
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2016 Room Finder, Inc</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>