<!DOCTYPE html>
<html>
<head>
  <title>RoomFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx_V8aFAmtfzNKfzHTfaQuAFX34d7qjME&sensor=false">
  </script>
</head>
<body>

<!-- 	<%= render 'layouts/header' %> <br/>
		<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>

		<%= yield %> 
	<%= render 'layouts/footer' %> 
 -->

  <div class="container">
  <%= render 'layouts/header' %> <br/>
  <div id="content" class="round">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <%= yield %> 
  </div>
  <%= render 'layouts/footer' %> 
</div>



</body>
</html>
